header {
    background-color: #000000; 
    color: #fff; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}


.logo {
    font-size: 40px;
    font-family:'Gabarito', cursive;
}


.button-group {
    display: flex;
    gap: 10px;
}

.previous-button,
.next-button {
    
    font-family:'Gabarito', cursive;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;border-radius :15px;
    outline:0;
    border:none;
    background: rgb(23, 215, 177);
    color:rgb(16, 16, 16);
    font-weight:500;
    cursor:pointer;
    transition :background-color 0.5s ;
}

.previous-button:hover,
.next-button:hover {
    background-color: #000000; 
    color :rgb(23, 215, 177);
}

body, h1, p, img, div {
    margin: 0;
    padding: 0;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #151515;
}


.page-title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ffffff;
    font-family:'Gabarito', cursive;

}


.content-box {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}


.share-text {
    font-size: 38px;
    color: #333;
    font-family:'Gabarito', cursive;
}


.space {
    height: 20px;
}
.link{
    color:rgb(27, 158, 75);
    font-size: 20px;
    font-family:'Gabarito', cursive;
}

.or-text {
    font-size: 27px;
    font-weight: bold;
    color: #333;
    font-family:'Gabarito', cursive;
}


.donate-image {
    max-width: 70%;
    height: auto;
}


.description {
    font-size: 20px;
    color: #333;
    font-family:'Gabarito', cursive;
}


